<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AggregateSource" version="0.0.308" targetFramework="net461" />
  <package id="AggregateSource.Testing" version="0.0.308" targetFramework="net461" />
  <package id="AggregateSource.Testing.NUnit" version="0.0.308" targetFramework="net461" />
  <package id="CompareNETObjects" version="3.05.0.0" targetFramework="net461" />
  <package id="NUnit" version="3.5.0" targetFramework="net461" />
</packages>